<!--{include header.htm}-->

<div class="width">
	<div class="page tab" style="width: 700px; margin: auto;">
		<a href="?iptable-black.htm" $_checked[black]>黑名单</a>
		<a href="?iptable-white.htm" $_checked[white]>白名单</a>
	</div>
	<!--{if core::gpc(1) == 'black' || core::gpc(1) == 'index'}-->
	<div class="div" style="width: 700px;">
		<div class="header">黑名单设置</div>
		<div class="body">
			<form action="?iptable-black.htm" method="post" id="conf_form">
				<input type="hidden" name="FORM_HASH" value="{FORM_HASH}" />
				<dl>
					<dt><label for="iptable_on">开启IP过滤：</label></dt>
					<dd>$input[iptable_on]</dd>
					
					<dt><label for="whitelist">禁止的IP列表：</label></dt>
					<dd>
						<!--{loop $blacklist $ip}-->
						<div class="ip"><input type="text" value="$ip" name="ip[]" size="16" /></div>
						<!--{/loop}-->
						<div class="ip"><input type="text" value="" name="ip[]" size="16" /></div>
						<span class="grey">IP格式：192.168.1.10, IP段格式: 192.168.1</span>
					</dd>
					
					<dt></dt>
					<dd>
						<input type="submit" class="button bigblue" id="conf_submit" value="确认设置" />
						<input type="button" class="button biggrey" value="取消" onclick="history.back()" />
						<div id="notice" class="notice" style="display: none;"></div>
					</dd>
				</dl>
			</form>
		</div>
		<div class="footer"></div>
	</div>
	<!--{elseif core::gpc(1) == 'white'}-->
	<div class="div" style="width: 700px;">
		<div class="header">白名单设置</div>
		<div class="body">
			<form action="?iptable-white.htm" method="post" id="conf_form">
				<input type="hidden" name="FORM_HASH" value="{FORM_HASH}" />
				<dl>
					<dt><label for="iptable_on">开启IP过滤：</label></dt>
					<dd>$input[iptable_on]</dd>
					
					<dt><label for="whitelist">允许的IP列表：</label></dt>
					<dd>
						<!--{loop $whitelist $ip}-->
						<div class="ip"><input type="text" value="$ip" name="ip[]" size="16" /></div>
						<!--{/loop}-->
						<div class="ip"><input type="text" value="" name="ip[]" size="16" /></div>
						<p>建议添加您的IP：<span class="red">$_SERVER[REMOTE_ADDR]</span></p>
						<span class="grey">IP格式：192.168.1.10, IP段格式: 192.168.1</span>
					</dd>
					
					<dt></dt>
					<dd>
						<input type="submit" class="button bigblue" id="conf_submit" value="确认设置" />
						<input type="button" class="button biggrey" value="取消" onclick="history.back()" />
						<div id="notice" class="notice" style="display: none;"></div>
					</dd>
				</dl>
			</form>
		</div>
		<div class="footer"></div>
	</div>
	<!--{/if}-->
	
</div>

<!--{include footer.htm}-->

<script type="text/javascript">

// 增加最后一个节点
$('div.ip input').live('focus', function() {
	// 如果自己为最后一个节点，则克隆自己。
	if(!$(this).parent().next().hasClass('ip')) {
		var jdiv = $(this).parent().clone();
		$('input', jdiv).val('');
		$(this).parent().after(jdiv);
	}
});

$('#conf_submit').click(function() {
	$('#conf_form').submit();
	return false;
});

<!--{loop $error $k $v}-->
	<!--{if $v}-->
		$('#$k').alert('$v');
	<!--{/if}-->
<!--{/loop}-->

<!--{if !empty($_POST) && empty($error)}-->
	$('#notice').html('设置成功！').show();
<!--{/if}-->

</script>
</body>
</html>