<!--{include header.htm}-->

<div class="width">
	<form action="?user-list-page-$page.htm" method="post" id="pluginform">
		<input type="hidden" name="FORM_HASH" value="{FORM_HASH}" />
		<h2>插件列表  <span class="clear">当前论坛版本: <b>$conf[version]</b></span></h2>
		
		<div class="page tab" style="margin-bottom: 4px;">
			<!--{loop $cates $_cateid $catename}-->
			<a href="?plugin-list-cateid-$_cateid.htm" $_checked[cateid_$_cateid]>$catename</a>
			<!--{/loop}-->
		</div>
		
		<!--{if $cateid == 1}-->
		<div class="page tab" style="margin-bottom: 4px;">
			<!--{loop $styles $_styleid $stylename}-->
			<a href="?plugin-list-cateid-1-styleid-$_styleid.htm" $_checked[styleid_$_styleid]>$stylename</a>
			<!--{/loop}-->
		</div>
		<!--{/if}-->
		
		<div style="line-height: 30px;">
			<b>排序：</b>
			<!--<a href="?plugin-list-cateid-$cateid-styleid-$styleid-orderby-price.htm" $_checked[orderby_price]>[价格]</a>-->
			<a href="?plugin-list-cateid-$cateid-styleid-$styleid-orderby-installs.htm" $_checked[orderby_installs]>[安装次数]</a>
			<a href="?plugin-list-cateid-$cateid-styleid-$styleid-orderby-stars.htm" $_checked[orderby_stars]>[官方评级]</a>
		</div>
		
		<div class="list">
			<table class="table">
				<tr class="header">
					<td colspan="4">插件列表</td>
				</tr>
				<!--{loop $pluginlist $dir $pconf}-->
				<tr valign="top" plugindir="$dir">
					<td width="54"><a href="?plugin-read-pluginid-$pconf[pluginid]-dir-$dir.htm" target="_blank"><img src="$pconf[icon_url]" width="54" height="54" /></a></td>
					<td width="160">
						<a href="?plugin-read-pluginid-$pconf[pluginid]-dir-$dir.htm"><b>$pconf[name] </b></a>v$pconf[version]
						<!--{if $pconf[have_new_version]}--><a href="http://plugin.xiuno.net/?plugin-upgrade-dir-$dir.htm" target="_blank" title="点击升级"><span class="red small">(NEW! v$pconf[official_version])</span></a><!--{/if}-->
						<br /><span class="small">$dir</span>
						<br /><img src="view/image/star_$pconf[stars].gif" width="63" height="11" align="middle" />
					</td>
					<td>
						<p class="grey">$pconf[brief]</p>
						$pconf[username]
						<br /><span class="grey">$pconf[email]</span>
					</td>
					<td width="150">
						<!--{if !$pconf[local_version]}-->
						<input type="button" class="button smallblue" onclick="window.location='?plugin-install-dir-$dir.htm'" value="安装" />
						<!--{else}-->
							<!--{if $pconf[enable]}-->
							<input type="button" class="button smallblue" onclick="window.location='?plugin-disable-dir-$dir.htm'" value="禁用" />
							<!--{else}-->
							<input type="button" class="button smallblue" onclick="window.location='?plugin-enable-dir-$dir.htm'" value="启用" />
							<!--{/if}-->
							<input type="button" class="button smallgrey" onclick="window.location='?plugin-unstall-dir-$dir.htm'" value="删除" />
						<!--{/if}-->
						<!--{if $pconf[have_setting]}-->
						<input type="button" class="button smallblue" onclick="window.location='?plugin-setting-dir-$dir.htm'" value="设置" />
						<!--{/if}-->
					</td>
				</tr>
				<!--{/loop}-->
			</table>
		</div>
		<div>$pages</div>
	</form>
</div>

<!--{include footer.htm}-->

</body>
</html>