
<!--{hook header_body_end.htm}-->


<input type="button" id="button1" value="button1" />
<input type="button" id="button2" value="button2" />
</div>

<!--{hook footer_start.htm}-->

<div id="footer">
	<div style="height: 35px; padding: 8px;" class="width">
		<div style="width: 40%; float: left;">
			$conf[app_copyright]<br />
			Powered by  <a href="http://www.xiuno.com" target="_blank" class="grey">Xiuno BBS <b>$conf[version]</b></a>
			<!--{hook footer_version_after.htm}-->
		</div>
		<div style="width: 60%; float: right; text-align: right;">
			$conf[china_icp]<br />
			$_SERVER[time_fmt], 耗时:<!--{php echo number_format(microtime(1) - $_SERVER['starttime'], 4);}-->s
			<!--{hook footer_time_after.htm}-->
		</div>
	</div>
	<!--{require footer_debug.htm}-->
</div>

<!--{if DEBUG}-->
<script src="view/js/jquery-1.4.full.js" type="text/javascript" ></script>
<!--{else}-->
<script src="view/js/jquery-1.4.min.js" type="text/javascript" ></script>
<!--{/if}-->

<script src="view/js/common.js" type="text/javascript"></script>

<script src="view/js/dialog.js" type="text/javascript"></script>

<script type="text/javascript">

$('#button1').click(function() {
	$('#http_3A__x_net_mod_top_fid_1_htm_3F_26tidarr_5B_5D_3D1_2').show();
});
$('#button2').click(function() {
	$('#http_3A__x_net_mod_top_fid_1_htm_3F_26tidarr_5B_5D_3D1_2').hide();
});

// 登陆后才能发帖
$('#create_thread').click(function() {
	if(g_uid == 0) {
		ajaxdialog_request('?user-login-ajax-1.htm', function() {
			$('#create_thread').unbind('click');
			ajaxdialog_request($('#create_thread').attr('href'));
			$('#create_thread').click(function() {
				ajaxdialog_request($('#create_thread').attr('href'));
			});
		});
		return false;
	} else {
		return true;
	}
});

$('a.ajaxdialog, input.ajaxdialog').die('click').live('click', ajaxdialog_click);
$('a.ajaxtoggle').die('click').live('click', ajaxtoggle_event);

//$('div.list .table tr:odd').not('tr.header').addClass('odd');	/* 奇数行的背景色 */
//$('div.list .table tr:last').addClass('last');	/* 奇数行的背景色 */

// ------------------------> 短消息 start
function userlist_to_html(userlist) {
	var s = '<div id="pm_userlist">';
	for(k in userlist) {
		var user = userlist[k];
		s += '<a href="?pm-ajaxlist-uid-'+user.uid+'-ajax-1.htm" uid="'+user.uid+'" class="ajaxdialog" ajaxdialog="{position: \'center\', modal: false, cache: false}"><span class="avatar_small" style="'+(user.avatar_small ? 'background-image: url('+user.avatar_small+')' : '')+'"></span> '+user.username+' (<b class="red">'+user.newpms+'</b>)</a>';
	}
	s += '</div>';
	return s;
}

// 如果有新短消息，除了全局提示以外，再做一个全局标记，实现模拟即时聊天。
var g_newpm_userlist = null;	// 全局变量

// 心跳频率  根据负载来调整，如果PV <10W: 1秒, <100w 2秒, <600w 3秒, 600w+, 5秒
var g_newpm_delay = $pm_delay;

function newpm() {
	var _this = this;
	_this.delay = g_newpm_delay;
	_this.t = null;
	_this.stop = function() {
		if(_this.t) clearTimeout(_this.t);
	};
	_this.run = function() {
		_this.stop();
		_this.t = setTimeout(function() {
			//print_r('?pm-new-ajax-1.htm');
			$.get('?pm-new-ajax-1.htm', function(s) {
				var json = json_decode(s);
				if(error = json_error(json)) {return false;}
				// alert(error);
				
				if(json.status == 1) {
					
					// hook footer_newpm_show_before.htm
					
					var userlist = json.message;
					g_newpm_userlist = userlist;
					var s = userlist_to_html(userlist);
					$('#pm a.icon-pm').hide();
					$('#pm a.icon-newpm').show().unbind('mouseover').mouseover(function() {
						$('#pm a.icon-newpm').alert(s, {"width": 150, "pos": 7, "delay": 1000, "alerticon": 0});
					});
					_this.delay = g_newpm_delay;
					_this.run();
				} else if(json.status == 2) {
					g_newpm_userlist = null;
					_this.delay = _this.delay * 2;
					_this.run();
				} else if(json.status == -1) {
					// 退出登录，什么都不做
				} else {
					// 发生错误，不提示，否则太频繁，影响用户体验。可以在后台查看PHP错误日志
					// alert(json.message);
				}
			});
		}, _this.delay);
	};
	return this;
}


var newpm_instance = new newpm(); 
newpm_instance.run();

{if DEBUG == 2}
//newpm_instance.stop();
{/if}
// ----------------> 短消息 end

// 鼠标放在上面，显示最后联系的5个人。

// 判断头部是否换行，修正版块过多，将 forum-list.htm 挤下去的问题。
{if count($conf['forumarr'] > 6)}
var forumlistpos = $('#menu_forum_list').offset();
var rightpos = $('#menu td.right').offset();
if(forumlistpos.top - rightpos.top > 8) {
	$('#menu_forum_list').css({position: 'absolute', left: rightpos.left - 50, top: rightpos.top});
}
{/if}
</script>

<!--{hook footer_end.htm}-->