<!--{include header.htm}-->

<!--{hook index_index_start.htm}-->

<div class="width">
	<!--{hook index_index_nav_before.htm}-->
	
	<table id="nav" cellpadding="0" cellspacing="0" style="margin-bottom: 4px;">
		<tr>
			<td class="left"></td>
			<td class="center">
				<a class="icon icon-home" href="./"></a>
				<span class="sep"></span>
				<span>首页</span>
				<!--{hook index_index_nav_center_after.htm}-->
			</td>
			<td width="80">
				<input type="button" value=" 发新帖 " class="button smallblue ajaxdialog" href="?post-thread-fid-$fid-ajax-1.htm" ajaxdialog="{fullicon: true}" onclick="return false;" id="create_thread" />
			</td>
			<td class="right"></td>
		</tr>
	</table>
	
	<!--{hook index_index_nav_after.htm}-->
	
	<!--{require thread_list.inc.htm}-->
	
	<div class="div">
		<div class="header"><span class="icon icon-stat"></span> 站点统计</div>
		<div class="body">
			<div style="margin-top: 8px; line-height: 12px; margin-bottom: 4px;">
				<span class="grey">帖子：</span><span class="grey">$conf[posts]</span> <span class="small grey2">|</span>
				<span class="grey">会员：</span><span class="grey">$conf[users]</span>
				<!--{if $conf[todayusers]}-->
				<span class="small grey2">|</span>
				<span class="grey">今日发帖：</span><span class="blue bold">$conf[todayposts]</span>
				<!--{/if}-->
				<!--{if $conf[todayusers]}-->
				<span class="small grey2">|</span>
				<span class="grey">今日注册：</span><span class="blue bold">$conf[todayusers]</span>
				<!--{/if}-->
				<!--{if $conf[newusername]}-->
				<span class="small grey2">|</span>
				<span class="grey">新会员:</span> <a href="?you-profile-uid-$conf[newuid]-ajax-1.htm" target="_blank" class="ajaxdialog" ajaxdialog="{position: 6, modal: false}" rel="nofollow">$conf[newusername]</a>
				<!--{/if}-->
				<!--{hook index_index_stat_after.htm}-->
			</div>
		</div>
		<div class="footer"></div>
	</div>
	
	<div class="div">
		<div class="header">在线用户 <span class="clear"> (<b>$conf[onlines]</b> 人)</span></div>
		<div class="body grey" id="onlinelist">
			<!--{if !$onlinelist}-->无<!--{/if}-->
			<!--{loop $onlinelist $online}-->
			<a href="?you-profile-uid-$online[uid]-ajax-1.htm" target="_blank" class="ajaxdialog" ajaxdialog="{position: 6, modal: false}" onclick="return false;" rel="nofollow"><span class="icon-group icon-group-$online[groupid]" style="width: 12px;"></span>$online[username]</a>
			<!--{/loop}-->
			<!--{if count($onlinelist) > 500}--><a href="?online-list-ajax-1.htm" class="ajaxdialog" target="_blank" rel="nofollow">查看全部</a><!--{/if}-->
			&nbsp;
		</div>
		<div class="footer"></div>
	</div>
	
	<!--{hook index_index_online_before.htm}-->
	
</div>

<!--{hook index_index_footer_before.htm}-->

<!--{include footer.htm}-->

<!--{require thread_list_js.inc.htm}-->

<script type="text/javascript">
$('#friendlink_img img').hover(function() {$(this).removeClass('xgrey')}, function() {$(this).addClass('xgrey')});
$('div.div div.body').find('div.hr:last').hide();// 隐藏最后一个 hr

// 鼠标背景变色
$('table.forum').bind('mouseover', function() {$('td:gt(0)', this).removeClass('bg1').addClass('bg2');});
$('table.forum').bind('mouseout', function() {$('td:gt(0)', this).removeClass('bg2').addClass('bg1');});

</script>

<!--{hook index_index_end.htm}-->

$conf[footer_js]

</body>
</html>