			<ul class="userlist">
			<!--{loop $userlist $user}-->
				<li>
					<div>
						<a href="?you-index-uid-$user[uid].htm" target="_blank"><span class="avatar_middle border" style="{if $user[avatar_middle]}background-image: url($user[avatar_middle]){/if}"></span></a>
					</div>
					<div style="white-space: nowrap;">
						<a href="?you-index-uid-$user[uid].htm" target="_blank"><span style="font-size: 12px; white-space: nowrap;" title="$user[username]">$user[username]</span>
					</div>
					<!--{if $_user[uid] && $_user[uid] != $user[uid]}-->
					<input type="button" class="button smallblue ajaxdialog" href="?pm-ajaxlist-uid-$user[uid]-ajax-1.htm" ajaxdialog="{position: 'center', modal: false}" value="短消息" />
					<!--{/if}-->
					<!--{hook follow_user_info_end.htm}-->
				</li>
			<!--{/loop}-->
			</ul>