<!--{json width:"880",title:"修改帖子"}-->
<style type="text/css">
form.update_form dt {width: 7%;}
form.update_form dd {width: 91%;}
</style>
<form action="?post-update-fid-$fid-pid-$pid-ajax-1.htm" method="post" id="update_form_$pid" target="_blank" class="update_form">
	<input type="hidden" name="FORM_HASH" value="{FORM_HASH}" />
	<!--{hook common_form_hash_after.htm}-->
	<dl>
		<!--{hook post_update_subject_before.htm}-->
		<!--{if $isfirst}-->
		<dt>
			<label for="update_subject">标题：</label>
		</dt>
		<dd style="white-space: nowrap;">
			<!--{if $typeselect1}-->$typeselect1<!--{/if}-->
			<!--{if $typeselect2}-->$typeselect2<!--{/if}-->
			<!--{if $typeselect3}-->$typeselect3<!--{/if}-->
			<!--{if $typeselect4}-->$typeselect4<!--{/if}-->
			<input type="text" name="subject" id="update_subject_$pid" value="$thread[subject]" style="width: 600px;" /> <span class="small grey">(200字)</span>
		</dd>
		<!--{/if}-->
		
		<!--{hook post_update_subject_after.htm}-->
		
		<dt><label for="update_message">内容：</label></dt>
		<dd style="position: relative;"><textarea name="message" id="update_message_$pid" style="width: 780px; height: 400px;">$post[message_html]</textarea></dd>
		
		<!--{hook post_update_message_after.htm}-->
		
		<dt></dt>
		<dd>
			<input type="submit" class="button bigblue" id="update_submit_$pid" value="编辑" />
			<input type="button" class="button biggrey" value="取消" id="update_cancel_$pid" />
			<!--{hook post_update_button_end.htm}-->
		</dd>
	</dl>
</form>

<!--{include attach_list.inc.htm}-->

<link href="view/js/editor/editor.css" type="text/css" rel="stylesheet" />

<script type="text/javascript">

function attach_file_type(type) {
	var type = type.substr(1).toLowerCase();
	var filetypes = $filetyps;
	for(k in filetypes) {
		if($.inArray(type, filetypes[k]) != -1) {
			return k;
		}
	}
	return 'unknown';
}

function delay_execute(dialog, recall) {
	var attachnum = $attachnum;
	$('#update_form_$pid').submit(function() {return false;});
	$.xload('view/js/editor/swfupload.js', "view/js/editor/editor.js", function() {
		$('#update_message_$pid').editor({
			onmax: function() {
				var width = $(window).width() * 90 / 100;
				var height = $(window).height() - 110;
				$('#update_message_$pid')[0].editor.set_width(width);
				$('#update_message_$pid')[0].editor.set_height(height);
				dialog.set_position('center');
			}, 
			onmin: function() {
				$('#update_message_$pid')[0].editor.set_width(650);
				$('#update_message_$pid')[0].editor.set_height(300);
				dialog.set_position('center');
			},
			onctrlenter: function() {
				$('#update_submit_$pid').trigger('click');
			},
			onhook: function(_this) {
				
				// --------------------------------------> 设置上传图片的回调函数
				var file_size_limit = intval('$upload_max_filesize') + ' MB';
				// append 一个 div 放在 a.image 图标上， swfupload 会替换此 div
				var upload_button_id   = _this._textarea.id + '_upload_button';
				$('a.image', _this.toolbar).append('<div id="' + upload_button_id + '" style=" width: 49px; height: 22px;"></div>');
				var swf_settings = {
					flash_url : 'view/js/editor/swfupload.swf',
					upload_url: '?attach-uploadimage-fid-$fid-pid-$pid-$conf[cookie_pre]sid-$_sid-$conf[cookie_pre]auth-$_auth-ajax-1.htm',
					prevent_swf_caching : false,
					preserve_relative_urls : false,
					//post_params: {"sid":"","auth":""},	// 我只能说 swfupload 很狗屎，传个参数还不稳定
					file_size_limit : file_size_limit,
					file_types : "*.jpg;*.gif;*.png",
					file_types_description : "图片文件",
					file_upload_limit : 100,
					file_queue_limit : 0,
					custom_settings : {
						thumbnail_height: 120000,
						thumbnail_width: 1600,
						thumbnail_quality: 90
					},
					debug: false,
					button_image_url: "view/js/editor/uploadimage.png",
					button_width: "49",
					button_height: "22",
					button_placeholder_id: upload_button_id,
					button_text: '<span class="theFont">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>',
					button_text_style: ".theFont {font-size: 16;}",
					button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,	// chrome may be does not work!
					file_dialog_complete_handler : function(numFilesSelected, numFilesQueued) {
						this.startUpload();
					},
					upload_start_handler : function(file) {
						$('a.image', _this.toolbar).width(0);
						$('a.imageloading', _this.toolbar).show();
						return true;
					},
					upload_progress_handler : function(file, bytesLoaded, bytesTotal) {
						var w = Math.ceil((bytesLoaded / bytesTotal) * 26);
						$('span.imageprocess_body', _this.toolbar).width(w);
					},
					upload_error_handler : function(file, errorCode, message) {
						alert('upload_error: file:'+file+', errorcode:'+errorcode+', message:'+message);
					},
					upload_success_handler : function(file, serverData) {
						var json = json_decode(serverData);
						if(error = json_error(json)) {alert(error); return false;}
						if(json.status <= 0) {alert(json.message); return false;}
						var s = json.message;
						_this._focus();
						_this.paste(s);
						return true;
					},
					file_queue_error_handler : function(file, errorCode, message) {
						if(errorCode == SWFUpload.QUEUE_ERROR.FILE_EXCEEDS_SIZE_LIMIT) {
							alert('您选择的文件：'+file+' 尺寸太大！错误信息：'+message);
							$('.toolbar a.imageloading', _this).hide();
							return true;
						} else {
							alert('upload_queue_error: file:'+file+', errorCode:'+errorCode+', message:'+message);
						}
						return false;
					},
					queue_complete_handler : function(numFilesUploaded) {
						$('a.image', _this.toolbar).width(49);
						$('a.imageloading', _this.toolbar).hide();
					}
				};
				var swfu = new SWFUpload(swf_settings);
				
				// -------------------------------------->上传文件部分
				
				// 定位编辑器位置
				var jiframe = $('#update_message_$pid').closest('div.iframe');
				var pos = jiframe.position();
				pos.left += ($(jiframe).width() - 621) / 2;	// 621 为附件列表框的宽度
				pos.top += 10;
				$('#file_upload_$pid').dialog({width: 621, open: false, position: pos});
				
				// live 删除 
				$('#file_upload_form_$pid span.delete').live('click', function() {
					// ajax 请求，仅判断服务端返回的状态位，确定是否删除成功。
					if(window.confirm('确认删除附件吗？')) {
						var jtr = $(this).closest('tr');
						var aid = jtr.attr('aid');
						$.get('?attach-deletefile-fid-$fid-aid-'+aid+'-ajax-1.htm', function(s) {
							var json = json_decode(s);
							if(error = json_error(json)) {alert(error); return false;}
							if(json.status <= 0) {alert(json.message); return false;}
							jtr.next('tr').remove();
							jtr.remove();
							
							attachnum--;
							$('a.file', _this.toolbar).alert(attachnum, {alerticon: 0, width: 16});
						});
					}
				});
				
				// 附件数
				if(attachnum > 0) {
					$('a.file', _this.toolbar).alert('$attachnum', {alerticon: 0, width: 16});
				}
				
				var file_size_limit = intval('$upload_max_filesize') + ' MB';
				var swf_settings = {
					flash_url : 'view/js/editor/swfupload.swf',
					upload_url: '?attach-uploadfile-fid-$fid-pid-$pid-$conf[cookie_pre]sid-$_sid-$conf[cookie_pre]auth-$_auth-ajax-1.htm',
					prevent_swf_caching : false,
					preserve_relative_urls : false,
					//post_params: {"sid":"","auth":""},
					file_size_limit : file_size_limit,
					file_types : "*.*", //"*.*"
					file_types_description : "所有文件",
					file_upload_limit : 100,
					file_queue_limit : 0,
					custom_settings : {
						thumbnail_height: 120000,
						thumbnail_width: 1600,
						thumbnail_quality: 90
					},
					debug: false,
					button_image_url: "view/js/editor/uploadfile.png",
					button_width: "74",
					button_height: "22",
					button_placeholder_id: 'file_upload_button_$pid',
					button_text: '<span class="theFont">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>',
					button_text_style: ".theFont {font-size: 16;}",
					button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,	// chrome may be does not work!
					file_dialog_complete_handler : function(numFilesSelected, numFilesQueued) {
						if(numFilesSelected > 0) {}
						try {this.startUpload(); return false;
						} catch(ex) { this.debug(ex); }
					},
					upload_start_handler : function(file) {
						var _swf = this;
						var jtrs = $('#file_upload_form_$pid tr');
						var jtr = jtrs.eq(jtrs.last().index() - 1).clone();
						jtr.appendTo(jtrs.parent()).attr('file', $.escape(file.name + file.index)).show();
						var jtds = $('td', jtr);
						
						var newsrc = jtds.eq(0).find('img').attr('src').replace(/\/\w+\.gif$/i, '/'+attach_file_type(file.type)+'.gif');
						jtds.eq(0).find('img').attr('src', newsrc);			// filetype
						jtds.eq(0).find('span.filename').html(file.name);		// filename
						jtds.eq(1).html(humansize(file.size));				// filesize
						jtds.eq(2).find('span.stop, span.start, span.complete').hide();
						jtds.eq(2).find('span.start').click(function() {
							_swf.startUpload();
							jtds.eq(2).find('span.start').hide();
							jtds.eq(2).find('span.stop').show();
						});
						jtds.eq(2).find('span.stop').click(function() {
							_swf.stopUpload();
							jtds.eq(2).find('span.start').show();
							jtds.eq(2).find('span.stop').hide();
						}).show();
						jtds.eq(3).find('input').attr('disabled', 'disabled');		// gold
						jtds.eq(4).find('span.delete').hide();				// 删除
						
						jtrs.last().clone().appendTo(jtrs.parent()).show();
						return true;
					},
					upload_progress_handler : function(file, bytesLoaded, bytesTotal) {
						var jtr = $('#file_upload_form_$pid tr[file='+$.escape(file.name + file.index)+']');
						var jtds = $('td', jtr);
						jtds.eq(1).html(bytesTotal);	
						$('span span', jtds.eq(2)).width(100 * (bytesLoaded / bytesTotal));// progress
					},
					upload_error_handler : function(file, errorCode, message) {},
					upload_success_handler : function(file, serverData) {
						var json = json_decode(serverData);
						if(error = json_error(json)) {alert(error); return false;}
						var jtr = $('#file_upload_form_$pid tr[file='+$.escape(file.name + file.index)+']');
						var jtds = $('td', jtr);
						if(json.status <= 0) {
							jtds.eq(2).find('span.complete').html('失败').addClass('error').attr('title', json.message).show();
							jtds.eq(2).find('span.start').hide();
							jtds.eq(2).find('span.stop').hide();
							return false;
						}
						var s = json.message;
						var aid = s.aid;
						jtds.eq(0).find('a').attr('href', s.desturl);			// filetype
						jtds.eq(0).find('span.filename').html(s.orgfilename);		// filename
						jtds.eq(1).html(humansize(s.filesize));					// filesize
						jtds.eq(2).find('span.complete').html('完成').addClass('ok').show();
						jtds.eq(2).find('span.start').hide();
						jtds.eq(2).find('span.stop').hide();
						jtds.eq(3).find('input').attr('disabled', '').attr('name', 'gold['+aid+']');	// gold
						jtds.eq(4).find('span.delete').show();		// delete
						
						attachnum++;
						$('a.file', _this.toolbar).alert(attachnum, {alerticon: 0, width: 16});
						
						return true;
					},
					upload_complete_handler : function(file) {},
					file_queued_handler : function(file) {},
					file_queue_error_handler : function(file, errorCode, message) {
						if(errorCode == SWFUpload.QUEUE_ERROR.FILE_EXCEEDS_SIZE_LIMIT) {
							alert('您选择的文件'+file.name+'大小为'+humansize(file.size)+'，超出了服务器端允许的最大值:$upload_max_filesize！');
							return true;
						} else {
							alert('upload_queue_error: file:'+file+', errorCode:'+errorCode+', message:'+message);
						}
						return false;
					},
					queue_complete_handler : function(numFilesUploaded){}
				};
				var swfu = new SWFUpload(swf_settings);
				
				$('#file_upload_submit_$pid').click(function() {
					$('#file_upload_submit_$pid').disable();
					var jform = $('#file_upload_form_$pid');
					var postdata = jform.serialize();
					$.post(jform.attr('action'), postdata,  function(s){
						$('#file_upload_submit_$pid').enable();
						var json = json_decode(s);
						if(error = json_error(json)) {alert(error); return false;}
						if(json.status <= 0) {alert(json.message); return false;}
						json = json.message;
						
						$.alert('设置完毕。', 'ok', 1000);
						setTimeout(function() {
							$('#file_upload_$pid').dialog('close');
						}, 1000);
					});
				});
				
				$('#file_upload_cancel_$pid').click(function() {
					$('#file_upload_$pid').dialog('close');
				});
				
				$('a.file', _this.toolbar).click(function() {
					$('#file_upload_$pid').dialog('open');
				});
				
				
				// -----------------------------> 更新附件的 swfupload
				var file_size_limit = intval('$upload_max_filesize') + ' MB';
				// 这里要创建一堆 swfupload 对象，会占用比较多的内存，比较恶心。 
				var jupdate = $('#file_upload_form_$pid tr[aid]').each(function() {
					var jtr = $(this);
					var jtds = jtr.find('td');
					var aid = jtr.attr('aid');
					var updateid = 'attach_update_'+aid;
					$('td:first span.update', this).attr('id', updateid);
					var swf_settings = {
						flash_url : 'view/js/editor/swfupload.swf',
						upload_url: '?attach-updatefile-fid-$fid-aid-'+aid+'-pid-$pid-$conf[cookie_pre]sid-$_sid-$conf[cookie_pre]auth-$_auth-ajax-1.htm',
						prevent_swf_caching : false,
						preserve_relative_urls : false,
						//post_params: {"sid":"","auth":""},
						file_size_limit : file_size_limit,
						file_types : "*.*",
						file_types_description : "所有文件",
						file_upload_limit : 100,
						file_queue_limit : 1,
						custom_settings : {
							thumbnail_height: 120000,
							thumbnail_width: 1600,
							thumbnail_quality: 90
						},
						debug: false,
						//button_image_url: "view/js/editor/uploadimage.png",
						button_width: "36",
						button_height: "18",
						button_placeholder_id: updateid,
						button_text: '<span class="theFont">[更新]</span>',
						button_text_style: ".theFont {font-size: 12px;}",
						button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,	// chrome may be does not work!
						file_dialog_complete_handler : function(numFilesSelected, numFilesQueued) {
							this.startUpload();
						},
						upload_start_handler : function(file) {
							// copy from 第二段
							var _swf = this;
							jtds.eq(0).find('span.filename').html(file.name);		// filename
							jtds.eq(1).html(humansize(file.size));				// filesize
							jtds.eq(2).find('span.stop, span.start, span.complete').hide();
							jtds.eq(2).find('span.start').click(function() {
								_swf.startUpload();
								jtds.eq(2).find('span.start').hide();
								jtds.eq(2).find('span.stop').show();
							});
							jtds.eq(2).find('span.stop').click(function() {
								_swf.stopUpload();
								jtds.eq(2).find('span.start').show();
								jtds.eq(2).find('span.stop').hide();
							}).show();
							
							return true;
							// copy end
						},
						upload_progress_handler : function(file, bytesLoaded, bytesTotal) {
							// copy from 第二段
							jtds.eq(1).html(bytesTotal);	
							$('span span', jtds.eq(2)).width(100 * (bytesLoaded / bytesTotal));// progress
							// copy end
						},
						upload_error_handler : function(file, errorCode, message) {
							alert('upload_error: file:'+file+', errorcode:'+errorcode+', message:'+message);
						},
						upload_success_handler : function(file, serverData) {
							// copy from 第二段
							var json = json_decode(serverData);
							if(error = json_error(json)) {alert(error); return false;}
							if(json.status <= 0) {
								jtds.eq(2).find('span.complete').html('失败').addClass('error').attr('title', json.message).show();
								jtds.eq(2).find('span.start').hide();
								jtds.eq(2).find('span.stop').hide();
								return false;
							}
							var s = json.message;
							var aid = s.aid;
							jtds.eq(1).html(humansize(s.filesize));				// filesize
							jtds.eq(2).find('span.complete').html('完成').addClass('ok').show();
							jtds.eq(2).find('span.start').hide();
							jtds.eq(2).find('span.stop').hide();
							// copy end
							return true;
						},
						file_queue_error_handler : function(file, errorCode, message) {
							if(errorCode == SWFUpload.QUEUE_ERROR.FILE_EXCEEDS_SIZE_LIMIT) {
								alert('您选择的文件：'+file+' 尺寸太大！错误信息：'+message);
								return true;
							} else {
								alert('upload_queue_error: file:'+file+', errorCode:'+errorCode+', message:'+message);
							}
							return false;
						},
						queue_complete_handler : function(numFilesUploaded) {
							//$('a.image', _this.toolbar).width(49);
							//$('a.imageloading', _this.toolbar).hide();
						}
					};
					var swfu = new SWFUpload(swf_settings);
				});
			},
			baseurl: 'view/js/editor/'});
		
			
		
		$('#update_message_$pid')[0].editor._focus();
		$('#update_submit_$pid').click(function() {
			$('div.alert').remove();
			$('#update_submit_$pid').disable();
			var postdata = $("#update_form_$pid").serialize();
			$.post($('#update_form_$pid').attr('action'), postdata,  function(json){
				$('#update_submit_$pid').enable();
				if(error = json_error(json)) {alert(error); return false;}
				if(json.status <=0) {
					alert(json.message);
					return false;
				}
				
				json = json.message;
				
				if(json.subject) {
					$('#update_subject_$pid').alert(json.subject).focus();
					return false;
				}
				if(json.message) {
					$('#update_message_$pid').parent().alert(json.message).focus();
					return false;
				}
				
				// 更新当前页面
	<!--{if $isfirst}-->	$('#subject_$tid').html($('#update_subject_$pid').val());	<!--{/if}-->
	 			$('#message_$pid').html($('#update_message_$pid').val());
	 		
	 			// 更新 pdata 数据
				$('#update_message_$pid')[0].editor.set('');
				
	 			// 销毁编辑器
	 			dialog.set_body('<div class="ok">编辑成功！</div>');
		 		setTimeout(function() {dialog.close();}, 500);
				
			}, "json");
			return false;
		});
		
		$('#update_cancel_$pid').click(function() {
			dialog.close();
		});
	}); // end $.xload()
	
	
	$('#update_submit_$pid').click(function() {
		$('div.alert').remove();
		$('#update_submit_$pid').disable();
		var postdata = $("#update_form_$pid").serialize();
		$.post($('#update_form_$pid').attr('action'), postdata,  function(s){
			$('#update_submit_$pid').enable();
			
			var json = json_decode(s);
			if(error = json_error(json)) {alert(error); return false;}
			json = json.message;
			if(json.subject) {
				$('#update_subject_$pid').alert(json.subject).focus();
				return false;
			}
			if(json.message) {
				$('#update_message_$pid').parent().alert(json.message).focus();
				return false;
			}
			
			
			 // hook post_update_submit_after_js
			 
			// 更新当前页面
<!--{if $isfirst}-->	$('#subject_$tid').html($('#update_subject_$pid').val());	<!--{/if}-->
 			$('#message_$pid').html($('#update_message_$pid').val());
 		
 			// 更新 pdata数据
			//$('#update_message_$pid')[0].editor.set('');
			
			dialog.set_body('<div class="ok">编辑成功！</div>');
			
 			// 销毁编辑器
	 		setTimeout(function() {dialog.close();}, 1500);
			
		  });
		  
		 // hook post_update_js_end.htm
	});// end xload()
	
	$('#update_cancel_$pid').click(function() {
		dialog.close();
	});
	
	// hook common_form_hash_after_js.htm

};

</script>

