<!--{json width:"880",title:"回复列表"}-->

<!--{loop $replylists $pid $replylist}-->
	<!--{loop $replylist $pid $reply}-->
	<table width="100%" cellpadding="2" class="noborder replytable" replyid="$reply[replyid]">
		<tr class="reply" replyid="$reply[replyid]">
			<td valign="top">
				<a href_real="?you-index-uid-$reply[uid].htm" target="_blank" href="?you-profile-uid-$reply[uid]-ajax-1.htm" class="ajaxdialog" ajaxdialog="{position: 5, modal: false, timeout: 1000, showtitle: false}" onclick="return false;" rel="nofollow">
					<span class="">$reply[username]</span>
				</a>
				<!--{if $reply[touid]}-->
				回复 
				<a href_real="?you-index-uid-$reply[touid].htm" target="_blank" href="?you-profile-uid-$reply[touid]-ajax-1.htm" class="ajaxdialog" ajaxdialog="{position: 5, modal: false, timeout: 1000, showtitle: false}" onclick="return false;" rel="nofollow">
					<span class="">$reply[tousername]</span>
				</a>
				<!--{/if}-->：
				<span class="subject">$reply[subject]</span>
			</td>
			<td valign="top" width="90">
				<span class="mod" style="display: none;">
					<!--{if $_user[uid]}-->
					<a href="?reply-create-fid-$reply[fid]-pid-$reply[pid]-toreplyid-$reply[replyid].htm" class="ajaxdialog grey" ajaxdialog="{position: 1, modal: false, cache: false}" onclick="return false;">回复</a>
					<!--{/if}-->
					<!--{if $ismod || $reply[uid] == $_user[uid]}-->
					<a href="?reply-update-fid-$reply[fid]-replyid-$reply[replyid].htm" class="ajaxdialog grey" ajaxdialog="{modal: false, cache: false}" onclick="return false;">编辑</a>
					<a href="?reply-delete-fid-$reply[fid]-replyid-$reply[replyid].htm" class="ajaxdialog grey">删除</a>
					<!--{/if}-->
				</span>
			</td>
			<td class="grey" width="70">$reply[dateline_fmt]</td>
		</tr>
		<tr><td colspan="3"><hr /></td></tr>
	</table>
	<!--{/loop}-->
	<!--sep-->
<!--{/loop}-->