<!--{json width:"680",title:"编辑回复内容"}-->
<style type="text/css">
.replyform dt {width: 7%;}
.replyform dd {width: 91%;}
</style>
<form action="?reply-update-fid-$fid-replyid-$replyid-ajax-1.htm" method="post" id="reply_update_form_$replyid" class="replyform" target="_blank">
	<input type="hidden" name="FORM_HASH" value="{FORM_HASH}" />
	<!--{hook common_form_hash_after.htm}-->
	<dl>
		<!--{hook reply_create_subject_before.htm}-->
		
		<dt><label for="subject_$replyid">内容：</label></dt>
		<dd style="position: relative;">
			<textarea name="subject" style="width: 595px; height: 100px;">$reply[subject]</textarea>
		</dd>
		
		<!--{hook reply_create_subject_after.htm}-->
		
		<dt></dt>
		<dd>
			<span style="width: 160px; float: right; text-align: right;" class="grey">最多字符：128个</span>
			<input type="submit" class="button bigblue" value="回复" id="reply_update_submit_$replyid" />
			<input type="button" class="button biggrey" value="取消" id="reply_update_cancel_$replyid" />
			<!--{hook reply_create_button_end.htm}-->
		</dd>
	</dl>
</form>

<script type="text/javascript">


function delay_execute(dialog, recall) {
	
	var jform = $('#reply_update_form_$replyid');
	var jsubmit = $('#reply_update_submit_$replyid');
	$('textarea', jform).focus();
	jsubmit.click(function() {
		jsubmit.disable();
		$('div.alert').remove();
		var postdata = jform.serialize();
		$.post(jform.attr('action'), postdata,  function(s){
			jsubmit.enable();
			var json = json_decode(s);
			if(error = json_error(json)) {alert(error); return false;}
			
			json = json.message;
			if(json.subject) {
				$('textarea', jform).alert(json.subject, {width: 300}).focus();
				return false;
			}
			var page = json.page;
			
			
			
			// hook reply_update_submit_after_js.htm
			
			dialog.set_body('<div class="ok">编辑成功！</div>');
			
			setTimeout(function(){
	 			dialog.close();
	 			$('tr[replyid=$replyid] span.subject').html(json.subject_post);
	 		}, 500);
		});
		return false;
	});
	
	
	$('#reply_update_cancel_$replyid').click(function() {
		dialog.close();
	});
	
	$('textarea', jform).keyup(function(e) {
		if(e.ctrlKey && e.which == 13 || e.which == 10) {
			$('#reply_update_submit_$replyid').trigger('click');
			return false;
		}
	});
	// hook common_reply_update_js_end.htm
}

</script>