<!--{json width:"480",title:"删除回复内容"}-->
<div style="text-align: center">
<form action="?reply-delete-fid-$fid-replyid-$replyid-ajax-1.htm" method="post" id="reply_delete_form_$replyid" class="replyform" target="_blank">
	<input type="hidden" name="FORM_HASH" value="{FORM_HASH}" />
	<br />
	<h2>确定删除吗？</h2>
	<br />
	<input type="submit" class="button bigblue" value="删除" id="reply_delete_submit_$replyid" />
	<input type="button" class="button biggrey" value="取消" id="reply_delete_cancel_$replyid" />
</form>
</div>
<script type="text/javascript">

function delay_execute(dialog, recall) {
	
	var jform = $('#reply_delete_form_$replyid');
	var fid = $fid;
	var pid = $pid;
	var replyid = $replyid;
	var jreplytable = $('#replylist_{$fid}_{$pid} table[replyid=$replyid]');
	var jsubmit = $('#reply_delete_submit_$replyid');
	jsubmit.click(function() {
		jsubmit.disable();
		var postdata = jform.serialize();
		$.post(jform.attr('action'), postdata,  function(s){
			jsubmit.enable();
			var json = json_decode(s);
			if(error = json_error(json)) {alert(error); return false;}
			
			json = json.message;
			dialog.set_body('<div class="ok">删除成功！</div>');
			
			var div = $('#replylist_{$fid}_{$pid}');
			var replies = intval($('span.replies', div).html());
 			$('span.replies', div).html(replies - 1);
 			
			setTimeout(function(){
	 			dialog.close();
	 			jreplytable.remove();
	 		}, 500);
		});
		return false;
	});
	
	
	$('#reply_delete_cancel_$replyid').click(function() {
		dialog.close();
	});
}

</script>