<!--{include header.htm}-->

<div class="width">
	<table id="nav" cellpadding="0" cellspacing="0" style="margin-bottom: 4px;">
		<tr>
			<td class="left"></td>
			<td class="center">
				<a class="icon icon-home" href="./"></a>
				<span class="sep"></span>
				<span>论坛搜索</span>
			</td>
			<td class="right"></td>
		</tr>
	</table>
	
	<div style="padding: 8px;">
		<input type="text" id="srchkeyword" name="keyword" value="$keyword" style="width: 328px; height: 18px;" />
		<input type="button" class="button smallblue" value="搜索" id="srchsubmit">
	</div>
	
<!--{if $keyword}-->
<!--{if empty($threadlist)}-->
	<div class="div">
		<div class="header">搜索结果</div>
		<div class="body">
			<p>无匹配结果</p>
		</div>
	</div>
<!--{else}-->
	<!--{require thread_list.inc.htm}-->
<!--{/if}-->
<!--{/if}-->
</div>	

<!--{include footer.htm}-->
<!--{require thread_list_js.inc.htm}-->

<script type="text/javascript">
$('#srchsubmit').click(function() {
	window.location = '?search-index-keyword-'+encodeURIComponent($('#srchkeyword').val())+'.htm';
});
$('#srchkeyword').keyup(function(e) {
	if(e.which == 13 || e.which == 10) {
		$('#srchsubmit').trigger('click');
	}
}).focus();
</script>

$conf[footer_js]

</body>
</html>