<!--{hook thread_list_line_inc_start.htm}-->
<table width="100%" cellspacing="0" cellpadding="0" tid="$thread[tid]" class="thread" lastpost="$thread[lastpost]" style="table-layout: fixed;">
	<tr height="32">
		<td valign="middle" class="subject">
			<!--{if $fid && $ismod}-->
			<input type="checkbox" name="tidarr[]" value="$thread[fid]-$thread[tid]" />
			<!--{/if}-->
		
			<a href="?thread-index-fid-$thread[fid]-tid-$thread[tid].htm" target="_blank" title="点击图标，新窗口打开" class="thread_icon" style="margin-right: 1px;" rel="nofollow">	
				<span class="icon $thread[icon]" tid="$thread[tid]" lastpost="$thread[lastpost]"></span>
			</a>
			
		<!--{loop $forum[types] $cateid $types}-->
			<!--{if $thread[typename$cateid]}--><a href="?forum-index-fid-$thread[fid]-typeid$cateid-$thread[typeid$cateid].htm" class="grey middle subject_type" rel="nofollow">[{$thread[typename$cateid]}]</a><!--{/if}-->
	 	<!--{/loop}-->
		 	
			 <!--{hook thread_list_line_inc_subject_before.htm}-->
			<a href="?thread-index-fid-$thread[fid]-tid-$thread[tid].htm" class="subject_link $thread[color]">$thread[subject]</a>
			<!--{if $thread['color'] == 'thread-hot'}--><span class="icon icon-post-fire"></span><!--{/if}-->
			<!--{hook thread_list_line_inc_subject_after.htm}-->
			
			<!--{if $thread[lastpage] > 1}-->
			<a href="?thread-index-fid-$thread[fid]-tid-$thread[tid]-page-$thread[lastpage].htm" class="grey2 small"><span class="icon icon-lastpage"></span>$thread[lastpage]</a>
			<!--{/if}-->
			
		</td>
		<!--{hook thread_list_line_inc_subject_after.htm}-->
		<!--{if empty($fid)}-->
		<td width="120" class="grey middle">
			<a href="?forum-index-fid-$thread[fid].htm" target="_blank">【$thread[forumname]】</a>
		</td>
		<!--{/if}-->
		<td width="80" class="username">
			<span class="grey"><a href="?you-profile-uid-$thread[uid]-ajax-1.htm" target="_blank" class="ajaxdialog" ajaxdialog="{position: 6, modal: false}" title="$thread[username]" rel="nofollow">$thread[username]</a></span>
			<br /><span class="tiny grey2">$thread[dateline_fmt]</span>
		</td>
		<td width="80" class="lastpost">
			<!--{if $thread[lastuid]}-->
			<span class="grey"><a href="?you-profile-uid-$thread[lastuid]-ajax-1.htm" target="_blank" class="ajaxdialog" ajaxdialog="{position: 6, modal: false}" title="$thread[lastusername]" rel="nofollow">$thread[lastusername]</a></span>
			<br /><span class="tiny grey2">$thread[lastpost_fmt]</span>
			<!--{/if}-->
		</td>
		<td width="80" class="views"><span class="small grey">$thread[posts_fmt] / </span><span class="small grey views" tid="$thread[tid]"></span></td>
		<!--{hook thread_list_line_inc_views_after.htm}-->
	</tr>
</table>
<!--{hook thread_list_line_inc_end.htm}-->
<hr />