<!--{hook thread_list_line_inc_start.htm}-->
<table width="100%" cellspacing="0" cellpadding="0" tid="$thread[tid]" class="thread" lastpost="$thread[lastpost]" style="table-layout: fixed;">
	<tr height="32">
		<td valign="middle" class="subject">
			<!--{if $fid && $ismod}-->
			<input type="checkbox" name="tidarr[]" value="$thread[fid]-$thread[tid]" />
			<!--{/if}-->
		
			<!--{if 0}-->
			<a href="?thread-index-fid-$thread[fid]-tid-$thread[tid].htm" target="_blank" title="点击图标，新窗口打开" style="margin-right: 1px;">	
				<!--{if $thread[isnew]}-->
				<span class="icon icon-post-blue" tid="$thread[tid]" lastpost="$thread[lastpost]"></span>
				<!--{else}-->
				<span class="icon icon-post-grey" tid="$thread[tid]" lastpost="$thread[lastpost]"></span>
				<!--{/if}-->
			</a>
			<!--{/if}-->
			
			<!--{if $thread[top]}--><span class="icon icon-top-$thread[top]" style="margin-right: 2px;" title="置顶主题"></span><!--{/if}-->
			<!--{if $thread[digest]}--><span class="icon icon-digest-$thread[digest]" style="margin-right: 2px;" title="精华主题"></span><!--{/if}-->
		
		<!--{loop $forum[types] $cateid $types}-->
			<!--{if $thread[typename$cateid]}--><a href="?forum-index-fid-$thread[fid]-typeid$cateid-$thread[typeid$cateid].htm" class="grey middle">[{$thread[typename$cateid]}]</a><!--{/if}-->
	 	<!--{/loop}-->
		 	
			 <!--{hook thread_list_line_inc_subject_before.htm}-->
			<a href="?thread-index-fid-$thread[fid]-tid-$thread[tid].htm" class="subject_link">$thread[subject]</a>
			<!--{hook thread_list_line_inc_subject_after.htm}-->
		</td>
		<!--{hook thread_list_line_inc_subject_after.htm}-->
		<!--{if empty($fid)}-->
		<td width="120" class="grey middle">
			<a href="?forum-index-fid-$thread[fid].htm" target="_blank">【$thread[forumname]】</a>
		</td>
		<!--{/if}-->
		<td width="80" class="username">
			<span class="grey"><a href="?you-profile-uid-$thread[uid]-ajax-1.htm" target="_blank" class="ajaxdialog" ajaxdialog="{position: 6, modal: false}" title="$thread[username]">$thread[username]</a></span>
			<br /><span class="tiny grey2">$thread[dateline_fmt]</span>
		</td>
		<td width="80" class="lastpost">
			<!--{if $thread[lastuid]}-->
			<span class="grey"><a href="?you-profile-uid-$thread[lastuid]-ajax-1.htm" target="_blank" class="ajaxdialog" ajaxdialog="{position: 6, modal: false}" title="$thread[lastusername]">$thread[lastusername]</a></span>
			<br /><span class="tiny grey2">$thread[lastpost_fmt]</span>
			<!--{/if}-->
		</td>
		<td width="80" class="views"><span class="small grey">$thread[posts_fmt] / </span><span class="small grey views" tid="$thread[tid]"></span></td>
		<!--{hook thread_list_line_inc_views_after.htm}-->
	</tr>
</table>
<!--{hook thread_list_line_inc_end.htm}-->
<hr />